<div class="login_sec">
  <section>
    <%= render 'common/user_form' %>
  </section>
</div>
<% if user_signed_in? %>
<!--
  <% unless current_user.full_profile? %>
    <h3>まずは基本情報を入力してください</h3>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { :class => "btn btn-primary withripple" } %>
  <% end %>
-->
<% end %>
<div class="in_main_page">
  <%= render 'common/main', per_row: 4 %>
</div>