<div class="container">
  <h3 class="text-center">場所から探す</h3>
  <br>
  <table class="table">
  <tr>
  <% i=1 %>
  <% Ward.all.each do |ward| %>
    <td><%= link_to "#{ward.name}",ward_path(ward.id) %></td>
    <% if i==5 %>
      </tr>
      <tr>
      <% i=0 %>
    <% end %>
    <% i+=1 %>
  <% end %>
  </tr>
  </table>

  <br>
  <h3 class="text-center">ブランドから探す</h3>
  <br>
  <table class="table">
    <tr>
    <% i=1 %>
    <% Brand.all.each do |b| %>
      <td><%= link_to "#{b.name}",brand_path(b.id) %></td>
      <% if i==5 %>
        </tr>
        <% i=0 %>
        <tr>
      <% end %>
      <% i+=1 %>
    <% end %>
    </tr>
  </table>
  <br>
</div>