<div class="container">
  <% if @wear.valid? %>
    <h2>登録が完了しました</h2>
    <%= link_to "トップに戻る", root_path %>
  <% else %>
    <h2>登録できませんでした</h2>
    <%= link_to "戻る", new_wear_path %>
  <% end %>
</div>