<div class="container">
  <h3>Name</h3>
  <p><%= "#{@user.family_name} #{@user.first_name}　" %>
  <% if user_signed_in? %>
    <% if @user.id == current_user.id %>
      <%= link_to "ユーザー情報を編集",edit_user_path(current_user.id), :class => "btn btn-primary withripple" %>
    <% end %>
  <% end %>
  </p>
  <div class="in_main_page">
    <%= render 'common/main' %>
  </div>
</div>