// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  min-width:1000px;
}
// mainPage
.mainPage{
  padding-top:75px;
  min-height:500px;
  // mainpage content
  .in_main_page{
    min-width:700px;
    clear:right;
    float:left;
    // 画像
    .wear_col{
      width:150px;
      height:250px;
      list-style-type:none;
      border:1px solid;
      padding:10px;
      margin:10px 10px ;
      .icon_image {
        width: 100px;
        height: 100px;
        background-size: cover;
        /*display: table-cell;*/
        margin:0 auto;
      }
      p {
        text-align:center;
      }
    }
  }
  // 埋め込み signin
  .login_sec{
    float:left;
    width:250px;
    .embed_sign_in{
      min-width: 150px;
      min-height: 250px;
      margin:10px 20px 20px 20px; // 上下右左
      border: 1px solid;
      padding:10px
    }
  }
}

// sign_in/up
.sign_in_up_page {
  width: 300px;
  margin:auto;
  border: 1px solid;
  padding:10px
}

// answer page without user_form
.answer_page{
  width:500px;
  margin:auto;
  padding:10px
}

// header
header{
  border-bottom:1px solid ;
  position:fixed;
  margin-bottom:20px;
  height: 50px;
  min-width:1200px;
  background-color:#D3D3D3;
  ul{
    margin:10px;
  }
}

// footer
footer{
  margin-top:20px;
  border-top: 1px solid;
  height:50px;
  min-width:1200px;
  ul{
    margin:10px;
  }
}

// clearfix
.clearfix{
  display: block;
  clear: both;
}



