<footer class="clearfix">
  <ul class="list-inline" style="margin:10px">
    <div class="container">
      <div class="row">
        <li><div class="col-xs-12 col-md-8"></div></li>
        <li>
          <div class="col-xs-3 col-md-2">
          <%= link_to 'Help', help_path %>
          </div>
        </li>
        <li>
          <div class="col-xs-3 col-md-2">
            <%= link_to 'About', about_path %>
          </div>
        </li>
      </div>
    </div>
  </ul>
</footer>